<h1>Fondos Santander</h1>
<p>Última actualización: <%= @time %>

<table>
  <tr>
    <td>Nombre</td>
    <td>Valor</td>
    <td>Var. diaria</td>
    <td>Últimos 30 días</td>
    <td>Últimos 90 días</td>
    <td>Últimos 12 meses</td>
  </tr>

  <% @list.each do |item| %>
  <tr>
    <td> <%=item[:name]%> </td>
    <td> <%=item[:value]%> </td>
    <td> <%=item[:daily]%> </td>
    <td> <%=item[:last_30_days]%> </td>
    <td> <%=item[:last_90_days]%> </td>
    <td> <%=item[:last_12_months]%> </td>
  </tr>
  <%end%>
</table>
