<%= form_with(model: unit_trust, local: true) do |form| %>
  <% if unit_trust.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit_trust.errors.count, "error") %> prohibited this unit_trust from being saved:</h2>

      <ul>
        <% unit_trust.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
