<p id="notice"><%= notice %></p>

<h1>Unit Trusts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_trusts.each do |unit_trust| %>
      <tr>
        <td><%= unit_trust.name %></td>
        <td><%= link_to 'Show', unit_trust %></td>
        <td><%= link_to 'Edit', edit_unit_trust_path(unit_trust) %></td>
        <td><%= link_to 'Destroy', unit_trust, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit Trust', new_unit_trust_path %>
