<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit_trust.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit_trust.description %>
</p>

<p>
  <strong>Deposit Time:</strong>
  <%= @unit_trust.deposit_time %>
</p>

<p>
  <strong>Color:</strong>
  <%= @unit_trust.color %>
</p>

<%= link_to 'Edit', edit_unit_trust_path(@unit_trust) %> |
<%= link_to 'Back', unit_trusts_path %>
