<div class="header mt-md-5">
  <div class="header-body">

    <!-- Pretitle -->
    <h6 class="header-pretitle">
      Última actualización: <%= @last_update %>
    </h6>

    <!-- Title -->
    <h1 class="header-title">
      Fondos Santander
    </h1>

  </div>
</div>

<div class="card">
  <div class="table-responsive mb-0">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Acredit.</th>
          <th>Valor</th>
          <th>
            Var. <br/>
            Diaria
          </th>
          <th>
            Últimos <br/>
            30 días
          </th>
          <th>
            Últimos <br />
            90 días
          </th>
          <th>
            Últimos <br />
            12 meses
          </th>
        </tr>
      </thead>
      <tbody>
        <% @list.each do |item| %>
        <tr>
          <td>
            <span>
              <%= link_to item.unit_trust.name, "detail/#{item.unit_trust.id}" %>
            </span>
          </td>
          <td> <%=UnitTrustsHelper.deposit_time_badge(item.unit_trust.deposit_time).html_safe %> </td>
          <td> <%=item.value %> </td>
          <td> <%=item.last_day %> </td>
          <td> <%=item.last_30_days %> </td>
          <td> <%=item.last_90_days %> </td>
          <td> <%=item.last_12_months %> </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">Variación Diaria</h4>
  </div>
  <div class="card-body">
    <canvas id="chart" height="100" width="400" class="chart-canvas"></canvas>
  </div>
</div>

<script>
  var ctx = document.getElementById('chart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'line',
    options: {},
    data: {
      labels: <%= raw @graph_data.first[:dates].map {|i| i.to_s } %>,
      datasets: [
      <% @graph_data.each do |item| %>
      {
        label: "<%= item[:name] %>",
        fill: false,
        borderColor: "#<%= item[:color] %>",
        backgroundColor: "#<%= item[:color] %>",
        data: <%= item[:values] %>
      },
      <%end%>
      ]
    }
  });
</script>

<p class="text-muted">Los valores se toman de la <a href="https://www.santander.com.ar/banco/online/personas/inversiones/super-fondos/rendimientos">página de Santander</a></p>
