<div class="header mt-md-5">
  <div class="header-body">
    <h1 class="header-title">
      <%= @unit_trust.name %>
    </h1>
  </div>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= link_to "Home", "/" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @unit_trust.name %></li>
  </ol>
</nav>

<div class="card">
  <div class="card-body">
    <canvas id="chart" height="100" width="400" class="chart-canvas"></canvas>
  </div>
</div>

<script>
  var ctx = document.getElementById('chart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'line',
    options: {
      legend: {
        display: false
      }
    },
    data: {
        labels: <%= raw @graph_data.map { |i| i.date.to_s } %>,
        datasets: [{
            borderColor: 'rgb(255, 99, 132)',
            backgroundColor: 'rgb(255, 99, 132)',
            data: <%= @graph_data.map { |i| i.value } %>
        }]
    }
  });
</script>

<div class="card">
  <div class="table-responsive mb-0">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Valor</th>
          <th>Var. Diaria</th>
          <th>Últimos 30 días</th>
          <th>Últimos 90 días</th>
          <th>Últimos 12 meses</th>
        </tr>
      </thead>
      <tbody>
        <% @list.each do |item| %>
        <tr>
          <th scope="row"> <%=item.date %> </th>
          <td> <%=item.value %> </td>
          <td> <%=item.last_day %> </td>
          <td> <%=item.last_30_days %> </td>
          <td> <%=item.last_90_days %> </td>
          <td> <%=item.last_12_months %> </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
