<h1><%= @unit_trust.name %></h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Valor</th>
      <th scope="col">Var. diaria</th>
      <th scope="col">Últimos 30 días</th>
      <th scope="col">Últimos 90 días</th>
      <th scope="col">Últimos 12 meses</th>
    </tr>
  <thead>

  <tbody>
    <% @list.each do |item| %>
    <tr>
      <th scope="row"> <%=item.date %> </th>
      <td> <%=item.value %> </td>
      <td> <%=item.last_day %> </td>
      <td> <%=item.last_30_days %> </td>
      <td> <%=item.last_90_days %> </td>
      <td> <%=item.last_12_months %> </td>
    </tr>
    <%end%>
  </tbody>
</table>

<canvas id="chart" width="400" height="200"></canvas>
<script>
  var ctx = document.getElementById('chart').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
          labels: <%= raw @graph_data.map { |i| i.date.to_s } %>,
          datasets: [{
              label: '<%= @unit_trust.name %>',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: <%= @graph_data.map { |i| i.value } %>
          }]
      },
      options: {}
  });
</script>
